* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#bg {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.365);
}

#card {
    border-radius: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #fff;
    width: 260px;
    height: 350px;
padding: 12px 20px ;
}

#circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1618695349120-6de4d26c2859?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGJvZHlidWlsZGVyfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
    /* background-color: blue; */
}

#card h2{
    font-family: monospace;
}
#card h5{
    font-family: cursive;
    margin-top: 5px;
}

#card h6{
    font-family: cursive;
    margin: 3px;
}

#card p{
    font-family:cursive;
    margin-top: 15px;
    font-size: 10px;
}

#card button{
    margin-top: 20px;
    width: 100px;
    height: 35px;
    background-color: transparent;
    border-color: 2px SOLID rgba(100, 97, 97, 0.596);
    border-radius: 4px;
    color:black;
}