* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#bn{
    /* letter-spacing: 15px; */
    font-weight: 100;
    word-spacing: 20px;
}